<!-- read from my mongo -->
<h1>see my mongoDB results</h1>


<h3> my blog posts</h3> 
 <% for (var i=0; i< mongoResult.length; i++ ) { %>
  <form method="POST" action="/update/<%= mongoResult[i]._id %>" style="display: inline-block">  
    <%= mongoResult[i].post %> 
    <input type="submit" value="update"> 
  </form>
  <form method="POST" action="/delete/<%= mongoResult[i]._id %>" style="display: inline-block">  
    <input type="submit" value="delete"> 
  </form>
  <br/>
<% } %>

<a href="/">go to homepage</a>
<br>
<br>
<a href="/insert">go to insert page</a>

<hr>