<h1> update the ejs </h1>

<h3> my blog posts</h3> 
 <% for (var i=0; i< mongoResult.length; i++ ) { %>
  <form method="POST" action="/update/<%= mongoResult[i]._id %>" style="display: inline-block">  
    <%= mongoResult[i].post %> 
    <input type="submit" value="update"> 
  </form>
  <br/>
<% } %>

<a href="/read">bak to the read endpotn</a>